.bg-google {
    background-color: #4285F4; color: white;
}
.bg-youtube {
    background-color: #FF0000; color: white;
}
.bg-x {
    background-color: #1DA1F2; color: white;
}
.bg-instagram {
    background-color: #C13584; color: white;
}